<div class="container">
    <h1>Задаване на нова парола</h1>
    <p>Email: {{email}}</p>
    <form class="form" role="form" name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && resetPassword()" novalidate>
        <div class="row">
            <div class="form-group col-md-6" ng-class="{ 'has-error': resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$invalid }">
                <input type="password" ng-model="newPassword" required ng-minlength="6" class="form-control input-lg" id="newPassword" name="newPassword" placeholder="Парола">
                <div ng-show="resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$invalid" class="text-danger">
                    <span ng-show="resetPasswordForm.newPassword.$error.required">Моля въведете парола.</span>
                    <span ng-show="resetPasswordForm.newPassword.$error.minlength">Паролата трябва да е поне 6 символа</span>
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error': resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$invalid }">
                <input type="password" ng-model="confirmPassword" repeat-password="newPassword" class="form-control input-lg" id="confirmPassword" name="confirmPassword" placeholder="Повторете паролата">
                <div ng-show="resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$invalid" class="text-danger">
                    <span ng-show="resetPasswordForm.confirmPassword.$error.repeat">Паролите не съвпадат</span>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-lg btn-block btn-default" value="Смяна на паролата" />
    </form>
    <div class="alert alert-danger" role="alert" ng-show="errorOnResetPassword">
        Възникна грешка!<br />
        Възможни причини за това са:
        <ul>
            <li>Линкът вече не е валиден. Може да бъде използван до 24 часа след изискването му.</li>
            <li>Въведените пароли не отговарят на изискванията за сигурност.</li>
        </ul>
    </div>
</div>