<h1>Клуб лоялен клиент</h1>
<p>
    Здравейте {{{FullName}}},
</p>
<p>
    С този email искаме да ви информираме, че с Вашата поръчка с номер: {{{OrderNumber}}}, Вие бяхте автоматично списани като наш лоялен клиент.
</p>
<p>
    Бяхте вписани в програмата ни за лоялни клиенти, тъй като с последната Ви поръчка, стойността на виртуалната ви сметка надхвърли 1000 лв.
    Повече за програмата "Лоялен клиент" и привилегиите с които се ползвате, можете да прочетете тук: <a href="https://www.poshboutique-bg.com/#/loyal-customer">https://www.poshboutique-bg.com/#/loyal-customer</a>.
</p>
<p>
    Благодарим Ви,<br />
    Екипът на <a href="{{{BaseUrl}}}">{{{BaseUrl}}}</a>
</p>