<h1>Добре дошли в <a href="{{{BaseUrl}}}">{{{BaseUrl}}}</a></h1>
<p>
    Здравейте {{{FirstName}}} {{{LastName}}},
</p>
<p>
    Добре дошли в online бутика за мода и модни аксесоари <b>Posh</b>.
</p>
<ul>
    <li>Нашите най-нови предложения можете да видите тук: <a href="{{{BaseUrl}}}new">{{{BaseUrl}}}new</a></li>
    <li>Всички актуални намаления можете да видите тук: <a href="{{{BaseUrl}}}discount">{{{BaseUrl}}}discount</a></li>
    <li>Целият ни каталог можете да разгледате тук: <a href="{{{BaseUrl}}}catalogue/all">{{{BaseUrl}}}catalogue/all</a></li>
    <li>За връзка с нас, моля, попълнете следната форма: <a href="{{{BaseUrl}}}contact-us">{{{BaseUrl}}}contact-us</a></li>
</ul>
<p>
    Благодарим Ви,<br />
    Екипът на <a href="{{{BaseUrl}}}">{{{BaseUrl}}}</a>
</p>