<div class="view-content">
    <h2 style="margin-top:0;text-align:center;">Информация за доставка</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <address-form address-info-model="cart.addressInfo" address-form="addressForm"></address-form>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block" ng-click="navigateToPrevState()">&lt; Поръчка</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block" ng-click="navigateToNextState()" ng-disabled="addressForm.$invalid">Доставка &gt;</button>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6">
            <h2 style="margin-top:0;text-align:center;">Информация за фактура</h2>
        </div>-->
    </div>
</div>