<div class="view-content">
    <div class="row">
        <div class="col-md-9">
            <div style="background-color: rgb(239, 239, 239); border: 1px solid rgb(213, 213, 213); box-shadow: 0px 2px 8px -1px #888;margin-bottom:15px;">
                <h2 style="text-align:center">Артикули</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Артикул</th>
                                <th>Размер</th>
                                <th>Цвят</th>
                                <th>Количество</th>
                                <th>Едиинична Цена</th>
                                <th>Междинна Сума</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="orderedItem in cart.items">
                                <td><a ui-sref="catalogue.category.view({ categoryUrl: 'all', itemUrl: orderedItem.urlName })">{{orderedItem.title}}</a></td>
                                <td>{{orderedItem.size.name}}</td>
                                <td>{{orderedItem.color ? orderedItem.color.title : "--"}}</td>
                                <td>{{orderedItem.quantity}}</td>
                                <td>{{orderedItem.price | currency}}</td>
                                <td>{{(orderedItem.quantity * orderedItem.price) | currency}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"></td>
                                <td><strong>Общо:</strong></td>
                                <td><strong>{{cart.total().order | currency}}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="background-color: rgb(239, 239, 239); border: 1px solid rgb(213, 213, 213); box-shadow: 0px 2px 8px -1px #888; margin-bottom: 15px;">
                <h2 style="text-align:center">Доставка</h2>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><strong>{{cart.selectedDeliveryMethod.name}}:</strong></td>
                            <td>{{cart.selectedDeliveryMethod.deliveryPrice | currency}}</td>
                        </tr>
                        <tr ng-if="cart.selectedPaymentMethod.applyDeliveryTax">
                            <td><strong>Комисиона:</strong></td>
                            <td>{{cart.selectedDeliveryMethod.codTax | number:2}}%</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Общо:</strong></td>
                            <td><strong>{{cart.total().shipping | currency}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="background-color: rgb(239, 239, 239); border: 1px solid rgb(213, 213, 213); box-shadow: 0px 2px 8px -1px #888; margin-bottom: 15px; ">
                <h2 class="view-content">
                    Обща сума: <span style="white-space:nowrap;">{{cart.total().order | currency}} <small>артикули</small></span> + <span style="white-space:nowrap;">{{cart.total().shipping | currency}} <small>доставка</small></span> - <span style="white-space:nowrap;">{{cart.total().couponesDiscount | currency}} <small>отстъпка</small></span> = {{cart.total().full | currency}}
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" ng-click="navigateToPrevState()">&lt; Плащане</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" ng-click="postOrder()">Потвърди</button>
        </div>
    </div>
</div>