<a ui-sref=".view({ itemUrl: item.urlName })" class="hoverable">
    <div class="hover-view hover-view-magnify">
        <img ng-src="{{item.thumbnailUrl}}" alt="{{item.title}}" />
        <div class="mask">
            <h2>{{item.title}}</h2>
            <p>{{item.shortDescription}}</p>
            <button class="info">Добави в количка</button>
        </div>
    </div>
    <div class="price-panel" ng-class="{ 'discounted': item.hasDiscount }">
        <div ng-if="item.hasDiscount" class="original-price">
            {{item.originalPrice | currency}}
        </div>
        <div class="current-price">
            {{item.price | currency}}
        </div>
    </div>
    <div class="prom prom140" ng-if="item.hasDiscount">
        <span class="gspr prr">{{item.discountDescription}}</span>
        <i class="gspr"></i>
        <i class="gspr folw"></i>
    </div>
    <div class="item-like" title="Харесай!" ng-click="toggleLike(item, $event)">
        <span class="glyphicon" ng-class="{ 'glyphicon-star': item.isLiked, 'glyphicon-star-empty': !item.isLiked }"></span>
    </div>
</a>