<style>
    .scene {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

        .scene > .layer {
            position: absolute;
            transform:translateZ(0)
        }

            .scene > .layer.animated {
                -webkit-transition: all 1s ease-out;
                -moz-transition: all 1s ease-out;
                -o-transition: all 1s ease-out;
                transition: all 1s ease-out;
            }    

            .scene > .layer > .bg {
                min-width: 100%;
                height: 100%;
                background: url('/content/img/sky.png') no-repeat center;
            }

            .scene > .layer > .hands {
                position: absolute;
                width: 100%;
                top: -20%;
                -webkit-animation: magnify 5s ease-in-out infinite;
                -moz-animation: magnify 5s ease-in-out infinite;
                -o-animation: magnify 5s ease-in-out infinite;
                animation: magnify 5s ease-in-out infinite;
            }

@-webkit-keyframes magnify {
    50% {
        -webkit-transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes magnify {
    50% {
        -moz-transform: scale(1.05);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes magnify {
    50% {
        -o-transform: scale(1.05);
    }

    100% {
        -o-transform: scale(1);
    }
}

@keyframes magnify {
    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

    .arrow-down {
        position: absolute;
        left: 50%;
        color: white;
        opacity: 0.5;
        bottom: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 42px;
        margin-left: -21px;
    }

    .scene-transition {
        position:relative;
        height: 40px;
        margin-top: -40px;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(100%,rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 );
    }
</style>
<div class="scene">
    <div class="layer animated" data-depth="50">
        <div class="bg"></div>
    </div>
    <div class="layer animated" data-depth="20">
        <img src="/content/img/handshake.png" class="hands" />
    </div>
    <a class="arrow-down" href="#" title="Прочети за клуб лоялен клиент">
        <span class="glyphicon glyphicon-download"></span>
    </a>
</div>
<div class="scene-transition"></div>
<div class="row">
    <div class="col-md-12">
        <h2 id="page-title">Клуб лоялен клиент</h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
<script>
    var scene = $(".scene");
    var layers = scene.children(".layer");
    var currentWindow = $(window);

    var sceneWidth = null;
    var sceneHeight = null;
    var sceneOffset = null;
    var windowHeight = null;
    var windowWidth = null;
    var running = false;

    var setCoordinates = function () {
        sceneOffset = $(scene).offset();

        windowHeight = currentWindow.height();
        windowWidth = currentWindow.width();

        sceneHeight = windowHeight - sceneOffset.top;
        scene.height(sceneHeight);
        sceneWidth = scene.width();
    };
    
    setCoordinates();

    var setLayersSize = function () {
        $.each(layers, function (index, layer) {
            var $layer = $(layer);
            var layerDepth = $layer.data("depth");
            if (layerDepth) {
                var factor = (layerDepth + 1) / layerDepth;

                $layer.width(factor * sceneWidth);
                $layer.height(factor * sceneHeight);
            }
        });
    };

    setLayersSize();

    currentWindow.resize(function () {
        setCoordinates();
        setLayersSize();
    });

    scene.mousemove(function (e) {
        var relX = e.pageX - sceneOffset.left;
        var relY = e.pageY - sceneOffset.top;

        $.each(layers, function (index, layer) {
            var $layer = $(layer);
            var animated = $layer.data("animated");
            if (!animated) {
                $layer.data("animated", true);
                var layerDepth = $layer.data("depth");
                if (layerDepth) {
                    var left = -relX / layerDepth;
                    var top = -relY / layerDepth;
                    $layer.css({ "top": top + "px", "left": left + "px" });

                    setTimeout(function () {
                        $layer.data("animated", false);
                    }, 1000);
                }
            }
        });
    });

    $(".arrow-down").click(function (e) {
        debugger;
        e.preventDefault();
        
        var pageTitle = $("#page-title");
        $("html,body").animate({ scrollTop: pageTitle.offset().top - 50 }, "slow");
    });
</script>