<li class="dropdown dropdown--cart-summary">
    <a href class="dropdown-toggle"><i class="glyphicon glyphicon-shopping-cart"></i>({{cart.total().full | currency}})</a>
    <div class="dropdown-menu">
        <div ng-hide="cart.isEmpty()">
            <table class="table table-cart table-hover">
                <tr class="noborder" ng-repeat="item in cart.items">
                    <td nowrap>{{item.quantity}} x</td>
                    <td><a ui-sref="catalogue.category.view({ categoryUrl: 'all', itemUrl: item.urlName })">{{item.title}}</a></td>
                    <td nowrap><i>{{item.price | currency}}</i></td>
                    <td><a class="close" aria-hidden="true" ng-click="cart.removeItemFromCart(item)">&times;</a></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Доставка:</b></td>
                    <td colspan="2"><i>{{cart.total().shipping | currency}}</i></td>
                </tr>
                <tr class="noborder">
                    <td colspan="2"><b>Отстъпка:</b></td>
                    <td colspan="2"><i>{{cart.total().couponesDiscount | currency}}</i></td>
                </tr>
                <tr class="noborder">
                    <td colspan="2"><b>Общо:</b></td>
                    <td colspan="2"><i>{{cart.total().full | currency}}</i></td>
                </tr>
            </table>
            <div class="btn-cart">
                <a ui-sref="cart.order" class="btn btn-success btn-block">Поръчай</a>
            </div>
        </div>
        <div ng-show="cart.isEmpty()" class="alert alert-warning">
            Количката ви е празна!
        </div>
    </div>
</li>