<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click='close()'>&times;</button>
    <h4 class="modal-title">{{product.title}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <images-view images="product.images" />
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Описание</div>
                <div class="panel-body">
                    {{product.description}}
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Материали</div>
                <div class="panel-body">
                    {{product.materialDescription}}
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Поръчка</div>
                <div class="panel-body" style="padding-bottom: 0;">
                    <configure-purchase-form product="product" />
                </div>
            </div>
        </div>
    </div>
    <related-products-list article-id="{{product.id}}" on-item-selected="close()"></related-products-list>
</div>